.ai__header {
  //   margin-bottom: 4rem;
  display: flex;
  min-height: calc(100vh - (40px + 2rem));
  align-items: center;

  .ai__header-content {
    flex: 1;
    margin: 4rem 0;

    .ai__header-title {
      font-size: 4rem;
      font-weight: 800;
      letter-spacing: -0.04rem;
      margin-bottom: 1.5rem;
    }

    .ai__description {
      font-size: 20px;
    }

    .ai__header-input {
      margin: 2rem 0;
      display: flex;
      input {
        background-color: var(--input-background);
        font-family: var(--font-family);
        font-weight: bold;
        color: var(--color-light);
        border: 0;
        outline: none;
        padding: 1rem;
        border-radius: 5px 0 0 5px;
        flex: 1;

        &::placeholder {
          color: var(--input-color);
        }
      }
      button {
        background-color: var(--color-button);
        color: var(--color-light);
        border-radius: 0 5px 5px 0;
        font-size: 18px;
        font-weight: bold;
        border: 0;
        padding: 0 2rem;
        cursor: pointer;
      }
    }
    .ai__header-symbols {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;

      .symbol-group {
        margin-right: 1rem;
        margin-left: 10px;
        margin-bottom: 0.5rem;
      }
      .symbol-desc {
      }
    }
  }

  .ai__header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    img {
      width: 100%;
      animation: scale-in-out 2.5s linear infinite;
    }
  }

  .ai__header-content {
    @include media-breakpoint-down(xl) {
      .ai__header-input {
        button {
          font-size: 1rem;
        }
      }
    }

    @include media-breakpoint-down(md) {
      .ai__header-title {
        font-size: 3rem;
      }
    }
    @include media-breakpoint-down(sm) {
      margin: 2rem 0;
      .ai__header-title {
        font-size: 2.5rem;
      }
    }
  }

  @include media-breakpoint-down(xl) {
    align-items: flex-start;
    flex-direction: column;
  }
}
