@import './base/variabels';
@import './base/mixins';
@import './base/root';
@import './base/reboot';
@import './base/layout';
@import './base/style';
@import './base/animations';

@import './components/components';
@import './containers/containers';

.breakpoint {
  position: fixed;
  background-color: rebeccapurple;
  padding: 2px 5px;
  border-radius: 5px;
  right: 10px;
  top: 10px;

  &.buttom {
    top: auto;
    bottom: 10px;
  }
}
